<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Gestione Dipendenti</title>



</head>
<body>

    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">Benvenuto</a>
        </div>
        <div class="flex-none gap-2">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img
                                alt="Tailwind CSS Navbar component"
                                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                    </div>
                </div>
                <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <form action="/logout" method="post" >
                        <li><button name="foo">Logout</button></li>
                    </form>
                    <li><a th:text="${count}"> Tentativi login </a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="overflow-x-auto">
        <table class="table table-xs table-pin-rows table-pin-cols">

            <thead>
            <tr>
                <th></th>
                <td>Nome</td>
                <td>Cognome</td>
                <td>N_badge</td>
                <td>RAL</td>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${dipendenti}" >
                    <th>1</th>
                    <td th:text="${p.getNome()}"></td>
                    <td th:text="${p.getCognome()}"></td>
                    <td th:text="${p.getN_badge()}"></td>
                    <td th:text="${p.getRal()}"></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <td>Nome</td>
                <td>Cognome</td>
                <td>N_badge</td>
                <td>RAL</td>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>

</body>
</html>