<!DOCTYPE html>
<html lang="en" data-theme="business">
<head>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Gestione Dipendenti</title>



</head>
<body class=" font-mono ">

    <div class="navbar bg-primary">
        <div class="flex-1 text-xl">
            <a> Azienda: </a> <p th:text="${nome}"> </p>
        </div>
        <div class="flex space-x-4 ...">
            <div>
                <a href="/swagger-ui/index.html"> <button class="btn btn-secondary">Documentazione API</button> </a>
            </div>
            <div>
                <a href="/main/logout" class="btn">Logout</a>
            </div>
        </div>
    </div>

    <div class="overflow-x-auto p-10">
        <table class="table">

            <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Numero badge</th>
                <th>RAL</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="dipendente: ${dipendenti}">
                    <td th:text="${dipendente.getNome()}"></td>
                    <td th:text="${dipendente.getCognome()}"></td>
                    <td th:text="${dipendente.getN_badge()}"></td>
                    <td th:text="${dipendente.getRal()}"></td>
            </tr>

            </tbody>
        </table>

    </div>


    <div class="grid grid-rows-5 grid-flow-col gap-4">

        <form action="#" th:action="@{/main}" th:object="${dipendente}" method="post">
            <div>
                <input name="nome" type="text" th:field="*{nome}" placeholder="Nome" class="input input-bordered w-full max-w-xs" />
                <input name="cognome" type="text" th:field="*{cognome}" placeholder="Cognome" class="input input-bordered w-full max-w-xs" />
                <input name="n_badge" type="text" th:field="*{n_badge}" placeholder="Numero badge" class="input input-bordered w-full max-w-xs" />
                <input name="ral" type="text" th:field="*{ral}" placeholder="RAL" class="input input-bordered w-full max-w-xs" />
                <button class="btn btn-success">Aggiungi dipendente</button>
            </div>
        </form>


        <form action="main/delete" th:method="DELETE">

            <div>
                <input name="n_badge" type="text" placeholder="Numero badge" class="input input-bordered w-full max-w-xs" />
                <button class="btn btn-active btn-accent">Elimina dipendente</button>
            </div>
        </form>

        <div role="alert" class="alert">
            <span>RISULTATO OPERAZIONE: <h2 th:text="${message}"></h2> </span>
        </div>


    </div>

</body>
</html>